In [ ]:
!pip install xlsxwriter
import xlsxwriter

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlsxwriter in /usr/local/lib/python3.7/dist-packages (3.0.3)

In [ ]:
import pandas as pd
import numpy as np

#Parte 1

In [ ]:
data = pd.read_csv('https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto18/TasaDeIncidencia.csv')
data = data.drop(columns=['Poblacion','Comuna','Codigo region','Region','Codigo comuna'])

data

,2020-03-30,2020-04-01,2020-04-03,2020-04-06,2020-04-08,2020-04-10,2020-04-13,2020-04-15,2020-04-17,2020-04-20,...,2022-04-25,2022-04-29,2022-05-02,2022-05-06,2022-05-09,2022-05-13,2022-05-16,2022-05-20,2022-05-23,2022-05-27
0,2.4,2.4,4.8,16.6,25.4,35.1,46.5,50.1,54.1,67.1,...,23897.6,23919.8,23944.1,23975.6,24009.1,24047.1,24079.0,24116.5,24160.6,24227.2
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,14355.2,14436.3,14436.3,14436.3,14436.3,14436.3,14436.3,14436.3,14436.3,14598.5
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,12345.7,12345.7,12345.7,12345.7,12345.7,12345.7,12345.7,12345.7,12345.7,12345.7
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,16580.5,16580.5,16580.5,17057.7,16699.8,16779.3,16779.3,17017.9,16978.1,16978.1
4,2.4,2.4,4.8,16.3,25.0,34.5,45.6,49.2,53.2,65.8,...,23829.7,23851.9,23875.7,23911.4,23940.7,23978.8,24010.2,24049.4,24092.3,24158.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
357,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,14218.0,14218.0,14218.0,14218.0,14218.0,14218.0,14218.0,14218.0,14218.0,14218.0
358,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,19970.6,19970.6,19970.6,20117.5,20117.5,20117.5,20264.3,20264.3,20264.3,20264.3
359,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,18439.7,18439.7,18439.7,18439.7,18439.7,18439.7,18439.7,18439.7,18439.7,18439.7
360,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,9010.8,9010.8,9010.8,9010.8,9010.8,9010.8,9010.8,9010.8,9010.8,9010.8
361,19.1,54.4,86.3,122.2,125.0,178.3,232.7,248.9,280.9,307.2,...,31116.5,31207.9,31282.4,31371.0,31421.5,31504.5,31562.2,31684.4,31756.2,31885.2

In [ ]:
print(data.shape)

(362, 228)

In [ ]:
cerrillos= data.iloc[91]
cerrillos= cerrillos.to_numpy()
cerro_navia= data.iloc[92]
cerro_navia= cerro_navia.to_numpy()
conchali= data.iloc[94]
conchali= conchali.to_numpy()
el_bosque= data.iloc[96]
el_bosque= el_bosque.to_numpy()
estacion_central= data.iloc[98]
estacion_central= estacion_central.to_numpy()
huechuraba= data.iloc[99]
huechuraba= huechuraba.to_numpy()
independencia= data.iloc[100]
independencia= independencia.to_numpy()
la_cisterna= data.iloc[102]
la_cisterna= la_cisterna.to_numpy()
la_florida= data.iloc[103]
la_florida= la_florida.to_numpy()
la_pintana= data.iloc[105]
la_pintana= la_pintana.to_numpy()
la_granja= data.iloc[104]
la_granja= la_granja.to_numpy()
la_reina= data.iloc[106]
la_reina= la_reina.to_numpy()
las_condes= data.iloc[108]
las_condes= las_condes.to_numpy() 
lo_barnechea= data.iloc[109]
lo_barnechea= lo_barnechea.to_numpy()
lo_espejo= data.iloc[110]
lo_espejo= lo_espejo.to_numpy()
lo_prado= data.iloc[111]
lo_prado= lo_prado.to_numpy() 
macul= data.iloc[112]
macul= macul.to_numpy() 
maipu= data.iloc[113]
maipu= maipu.to_numpy() 
nunoa= data.iloc[116]
nunoa= nunoa.to_numpy()
pedro_aguirre_cerda= data.iloc[119]
pedro_aguirre_cerda= pedro_aguirre_cerda.to_numpy()
penalolen= data.iloc[121]
penalolen= penalolen.to_numpy()
providencia= data.iloc[123]
providencia= providencia.to_numpy() 
pudahuel= data.iloc[124]
pudahuel= pudahuel.to_numpy() 
quilicura= data.iloc[126] 
quilicura= quilicura.to_numpy()
quinta_normal= data.iloc[127]
quinta_normal= quinta_normal.to_numpy()
recoleta= data.iloc[128]
recoleta= recoleta.to_numpy()
renca= data.iloc[129]
renca= renca.to_numpy()
san_miguel= data.iloc[133]
san_miguel= san_miguel.to_numpy()
san_joaquin= data.iloc[131]
san_joaquin= san_joaquin.to_numpy()
san_ramon= data.iloc[135]
san_ramon= san_ramon.to_numpy()
santiago= data.iloc[136]
santiago= santiago.to_numpy()
vitacura= data.iloc[139]
vitacura= vitacura.to_numpy()
datos = [[] for i in range(32)]
print(len(vitacura),len(datos))

for j in range(len(vitacura)):
  datos[0].append(cerrillos[j])

for j in range(len(vitacura)):
  datos[1].append(cerro_navia[j])

for j in range(len(vitacura)):
  datos[2].append(conchali[j])

for j in range(len(vitacura)):
  datos[3].append(el_bosque[j])
for j in range(len(vitacura)):
  datos[4].append(estacion_central[j])

for j in range(len(vitacura)):
  datos[5].append(huechuraba[j])

for j in range(len(vitacura)):
  datos[6].append(independencia[j])

for j in range(len(vitacura)):
  datos[7].append(la_cisterna[j])

for j in range(len(vitacura)):
  datos[8].append(la_florida[j])

for j in range(len(vitacura)):
  datos[9].append(la_pintana[j])

for j in range(len(vitacura)):
  datos[10].append(la_granja[j])

for j in range(len(vitacura)):
  datos[11].append(la_reina[j])

for j in range(len(vitacura)):
  datos[12].append(las_condes[j])

for j in range(len(vitacura)):
  datos[13].append(lo_barnechea[j])

for j in range(len(vitacura)):
  datos[14].append(lo_espejo[j])

for j in range(len(vitacura)):
  datos[15].append(lo_prado[j])

for j in range(len(vitacura)):
  datos[16].append(macul[j])

for j in range(len(vitacura)):
  datos[17].append(maipu[j])

for j in range(len(vitacura)):
  datos[18].append(nunoa[j])

for j in range(len(vitacura)):
  datos[19].append(pedro_aguirre_cerda[j])

for j in range(len(vitacura)):
  datos[20].append(penalolen[j])

for j in range(len(vitacura)):
  datos[21].append(providencia[j])

for j in range(len(vitacura)):
  datos[22].append(pudahuel[j])

for j in range(len(vitacura)):
  datos[23].append(quilicura[j])

for j in range(len(vitacura)):
  datos[24].append(quinta_normal[j])

for j in range(len(vitacura)):
  datos[25].append(recoleta[j])

for j in range(len(vitacura)):
  datos[26].append(renca[j])

for j in range(len(vitacura)):
  datos[27].append(san_miguel[j])

for j in range(len(vitacura)):
  datos[28].append(san_joaquin[j])

for j in range(len(vitacura)):
  datos[29].append(san_ramon[j])

for j in range(len(vitacura)):
  datos[30].append(santiago[j])

for j in range(len(vitacura)):
  datos[31].append(vitacura[j])


df= pd.DataFrame(datos)

writer1= pd.ExcelWriter('datos.xlsx',engine='xlsxwriter')
df.to_excel(writer1, sheet_name='datos')
writer1.save()

228 32

In [ ]:
cerrillos= data.iloc[91]
cerrillos

2020-03-30        0.0
2020-04-01        4.5
2020-04-03        4.5
2020-04-06        5.6
2020-04-08       12.4
               ...
2022-05-13    17576.1
2022-05-16    17640.2
2022-05-20    17725.6
2022-05-23    17838.0
2022-05-27    17990.9
Name: 91, Length: 228, dtype: float64

#L

In [ ]:
data2 = pd.read_csv('https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto33/IndiceDeMovilidad.csv')
#data2 = data2.drop(columns=['Poblacion','Comuna','Codigo region','Region','Codigo comuna'])
data2

,Region,Codigo region,Comuna,Codigo comuna,Superficie_km2,Poblacion,IM_interno,IM_externo,IM,Fecha
0,Coquimbo,4.0,La Serena,4101,1901.22,249656.0,7.842179,2.378377,10.220555,2020-02-26
1,Coquimbo,4.0,La Serena,4101,1901.22,249656.0,7.886014,2.345445,10.231459,2020-02-27
2,Coquimbo,4.0,La Serena,4101,1901.22,249656.0,8.238552,2.406954,10.645506,2020-02-28
3,Coquimbo,4.0,La Serena,4101,1901.22,249656.0,7.236426,2.242430,9.478856,2020-02-29
4,Coquimbo,4.0,La Serena,4101,1901.22,249656.0,5.994744,1.981816,7.976560,2020-03-01
...,...,...,...,...,...,...,...,...,...,...
95973,Los Lagos,10.0,Quemchi,10209,438.30,8783.0,0.714890,1.568528,2.283418,2020-11-28
95974,Los Lagos,10.0,Quemchi,10209,438.30,8783.0,0.662014,1.653130,2.315144,2020-11-29
95975,Los Lagos,10.0,Quemchi,10209,438.30,8783.0,0.877750,1.747885,2.625635,2020-11-30
95976,NaN,NaN,NaN,11302,7781.76,661.0,NaN,NaN,NaN,NaN
95977,NaN,NaN,NaN,12202,1250257.60,137.0,NaN,NaN,NaN,NaN

In [ ]:
writer1= pd.ExcelWriter('datos.xlsx',engine='xlsxwriter')
data2.to_excel(writer1, sheet_name='datosja')
writer1.save()

In [ ]:
data2= data2.filter(['Comuna','IM_interno','IM_externo'],axis=1)
data2

          Comuna  IM_interno  IM_externo
0      La Serena    7.842179    2.378377
1      La Serena    7.886014    2.345445
2      La Serena    8.238552    2.406954
3      La Serena    7.236426    2.242430
4      La Serena    5.994744    1.981816
...          ...         ...         ...
95973    Quemchi    0.714890    1.568528
95974    Quemchi    0.662014    1.653130
95975    Quemchi    0.877750    1.747885
95976        NaN         NaN         NaN
95977        NaN         NaN         NaN

[95978 rows x 3 columns]

In [ ]:
cerrillos= data2.loc[data2['Comuna']=='Cerrillos'].filter(['IM_interno'],axis=1)
cerrillos= cerrillos.to_numpy()
cerro_navia= data2.loc[data2['Comuna']=='Cerro Navia'].filter(['IM_interno'],axis=1)
cerro_navia= cerro_navia.to_numpy()
conchali= data2.loc[data2['Comuna']=='Conchalí'].filter(['IM_interno'],axis=1)
conchali= conchali.to_numpy()
el_bosque= data2.loc[data2['Comuna']=='El Bosque'].filter(['IM_interno'],axis=1)
el_bosque= el_bosque.to_numpy()
estacion_central= data2.loc[data2['Comuna']=='Estación Central'].filter(['IM_interno'],axis=1)
estacion_central= estacion_central.to_numpy()
huechuraba= data2.loc[data2['Comuna']=='Huechuraba'].filter(['IM_interno'],axis=1)
huechuraba= huechuraba.to_numpy()
independencia= data2.loc[data2['Comuna']=='Independencia'].filter(['IM_interno'],axis=1)
independencia= independencia.to_numpy()
la_cisterna= data2.loc[data2['Comuna']=='La Cisterna'].filter(['IM_interno'],axis=1)
la_cisterna= la_cisterna.to_numpy()
la_florida= data2.loc[data2['Comuna']=='La Florida'].filter(['IM_interno'],axis=1)
la_florida= la_florida.to_numpy()
la_pintana= data2.loc[data2['Comuna']=='La Pintana'].filter(['IM_interno'],axis=1)
la_pintana= la_pintana.to_numpy()
la_granja= data2.loc[data2['Comuna']=='La Granja'].filter(['IM_interno'],axis=1)
la_granja= la_granja.to_numpy()
la_reina= data2.loc[data2['Comuna']=='La Reina'].filter(['IM_interno'],axis=1)
la_reina= la_reina.to_numpy()
las_condes=data2.loc[data2['Comuna']=='Las Condes'].filter(['IM_interno'],axis=1)
las_condes= las_condes.to_numpy()
lo_barnechea= data2.loc[data2['Comuna']=='Lo Barnechea'].filter(['IM_interno'],axis=1)
lo_barnechea= lo_barnechea.to_numpy()
lo_espejo= data2.loc[data2['Comuna']=='Lo Espejo'].filter(['IM_interno'],axis=1)
lo_espejo= lo_espejo.to_numpy()
lo_prado= data2.loc[data2['Comuna']=='Lo Prado'].filter(['IM_interno'],axis=1)
lo_prado = lo_prado.to_numpy()
macul= data2.loc[data2['Comuna']=='Macul'].filter(['IM_interno'],axis=1)
macul= macul.to_numpy()
maipu= data2.loc[data2['Comuna']=='Maipú'].filter(['IM_interno'],axis=1)
maipu= maipu.to_numpy()
nunoa= data2.loc[data2['Comuna']=='Ñuñoa'].filter(['IM_interno'],axis=1)
nunoa= nunoa.to_numpy()
pedro_aguirre_cerda=data2.loc[data2['Comuna']=='Pedro Aguirre Cerda'].filter(['IM_interno'],axis=1)
pedro_aguirre_cerda= pedro_aguirre_cerda.to_numpy() 
penalolen= data2.loc[data2['Comuna']=='Peñalolén'].filter(['IM_interno'],axis=1)
penalolen= penalolen.to_numpy() 
providencia= data2.loc[data2['Comuna']=='Providencia'].filter(['IM_interno'],axis=1)
providencia= providencia.to_numpy()
pudahuel= data2.loc[data2['Comuna']=='Pudahuel'].filter(['IM_interno'],axis=1)
pudahuel= pudahuel.to_numpy()
quilicura= data2.loc[data2['Comuna']=='Quilicura'].filter(['IM_interno'],axis=1)
quilicura= quilicura.to_numpy()
quinta_normal= data2.loc[data2['Comuna']=='Quinta Normal'].filter(['IM_interno'],axis=1)
quinta_normal= quinta_normal.to_numpy()
recoleta= data2.loc[data2['Comuna']=='Recoleta'].filter(['IM_interno'],axis=1)
recoleta =recoleta.to_numpy()
renca= data2.loc[data2['Comuna']=='Renca'].filter(['IM_interno'],axis=1)
renca= renca.to_numpy()
san_miguel= data2.loc[data2['Comuna']=='San Miguel'].filter(['IM_interno'],axis=1)
san_miguel= san_miguel.to_numpy()
san_joaquin= data2.loc[data2['Comuna']=='San Joaquín'].filter(['IM_interno'],axis=1)
san_joaquin= san_joaquin.to_numpy()
san_ramon= data2.loc[data2['Comuna']=='San Ramón'].filter(['IM_interno'],axis=1)
san_ramon= san_ramon.to_numpy()
santiago= data2.loc[data2['Comuna']=='Santiago'].filter(['IM_interno'],axis=1)
santiago= santiago.to_numpy()
vitacura= data2.loc[data2['Comuna']=='Vitacura'].filter(['IM_interno'],axis=1)
vitacura= vitacura.to_numpy()

datos = [[] for i in range(32)]
print(len(vitacura),len(datos))

for j in range(len(vitacura)):
  datos[0].append(cerrillos[j][0])

for j in range(len(vitacura)):
  datos[1].append(cerro_navia[j][0])

for j in range(len(vitacura)):
  datos[2].append(conchali[j][0])

for j in range(len(vitacura)):
  datos[3].append(el_bosque[j][0])
for j in range(len(vitacura)):
  datos[4].append(estacion_central[j][0])

for j in range(len(vitacura)):
  datos[5].append(huechuraba[j][0])

for j in range(len(vitacura)):
  datos[6].append(independencia[j][0])

for j in range(len(vitacura)):
  datos[7].append(la_cisterna[j][0])

for j in range(len(vitacura)):
  datos[8].append(la_florida[j][0])

for j in range(len(vitacura)):
  datos[9].append(la_pintana[j][0])

for j in range(len(vitacura)):
  datos[10].append(la_granja[j][0])

for j in range(len(vitacura)):
  datos[11].append(la_reina[j][0])

for j in range(len(vitacura)):
  datos[12].append(las_condes[j][0])

for j in range(len(vitacura)):
  datos[13].append(lo_barnechea[j][0])

for j in range(len(vitacura)):
  datos[14].append(lo_espejo[j][0])

for j in range(len(vitacura)):
  datos[15].append(lo_prado[j][0])

for j in range(len(vitacura)):
  datos[16].append(macul[j][0])

for j in range(len(vitacura)):
  datos[17].append(maipu[j][0])

for j in range(len(vitacura)):
  datos[18].append(nunoa[j][0])

for j in range(len(vitacura)):
  datos[19].append(pedro_aguirre_cerda[j][0])

for j in range(len(vitacura)):
  datos[20].append(penalolen[j][0])

for j in range(len(vitacura)):
  datos[21].append(providencia[j][0])

for j in range(len(vitacura)):
  datos[22].append(pudahuel[j][0])

for j in range(len(vitacura)):
  datos[23].append(quilicura[j][0])

for j in range(len(vitacura)):
  datos[24].append(quinta_normal[j][0])

for j in range(len(vitacura)):
  datos[25].append(recoleta[j][0])

for j in range(len(vitacura)):
  datos[26].append(renca[j][0])

for j in range(len(vitacura)):
  datos[27].append(san_miguel[j][0])

for j in range(len(vitacura)):
  datos[28].append(san_joaquin[j][0])

for j in range(len(vitacura)):
  datos[29].append(san_ramon[j][0])

for j in range(len(vitacura)):
  datos[30].append(santiago[j][0])

for j in range(len(vitacura)):
  datos[31].append(vitacura[j][0])

df= pd.DataFrame(datos)
df
writer1= pd.ExcelWriter('datosmovin.xlsx',engine='xlsxwriter')
df.to_excel(writer1, sheet_name='datos')
writer1.save()

279 32

In [ ]:
cerrillos= data2.loc[data2['Comuna']=='Cerrillos'].filter(['IM_externo'],axis=1)
cerrillos= cerrillos.to_numpy()
cerro_navia= data2.loc[data2['Comuna']=='Cerro Navia'].filter(['IM_externo'],axis=1)
cerro_navia= cerro_navia.to_numpy()
conchali= data2.loc[data2['Comuna']=='Conchalí'].filter(['IM_externo'],axis=1)
conchali= conchali.to_numpy()
el_bosque= data2.loc[data2['Comuna']=='El Bosque'].filter(['IM_externo'],axis=1)
el_bosque= el_bosque.to_numpy()
estacion_central= data2.loc[data2['Comuna']=='Estación Central'].filter(['IM_externo'],axis=1)
estacion_central= estacion_central.to_numpy()
huechuraba= data2.loc[data2['Comuna']=='Huechuraba'].filter(['IM_externo'],axis=1)
huechuraba= huechuraba.to_numpy()
independencia= data2.loc[data2['Comuna']=='Independencia'].filter(['IM_externo'],axis=1)
independencia= independencia.to_numpy()
la_cisterna= data2.loc[data2['Comuna']=='La Cisterna'].filter(['IM_externo'],axis=1)
la_cisterna= la_cisterna.to_numpy()
la_florida= data2.loc[data2['Comuna']=='La Florida'].filter(['IM_externo'],axis=1)
la_florida= la_florida.to_numpy()
la_pintana= data2.loc[data2['Comuna']=='La Pintana'].filter(['IM_externo'],axis=1)
la_pintana= la_pintana.to_numpy()
la_granja= data2.loc[data2['Comuna']=='La Granja'].filter(['IM_externo'],axis=1)
la_granja= la_granja.to_numpy()
la_reina= data2.loc[data2['Comuna']=='La Reina'].filter(['IM_externo'],axis=1)
la_reina= la_reina.to_numpy()
las_condes=data2.loc[data2['Comuna']=='Las Condes'].filter(['IM_externo'],axis=1)
las_condes= las_condes.to_numpy()
lo_barnechea= data2.loc[data2['Comuna']=='Lo Barnechea'].filter(['IM_externo'],axis=1)
lo_barnechea= lo_barnechea.to_numpy()
lo_espejo= data2.loc[data2['Comuna']=='Lo Espejo'].filter(['IM_externo'],axis=1)
lo_espejo= lo_espejo.to_numpy()
lo_prado= data2.loc[data2['Comuna']=='Lo Prado'].filter(['IM_externo'],axis=1)
lo_prado = lo_prado.to_numpy()
macul= data2.loc[data2['Comuna']=='Macul'].filter(['IM_externo'],axis=1)
macul= macul.to_numpy()
maipu= data2.loc[data2['Comuna']=='Maipú'].filter(['IM_externo'],axis=1)
maipu= maipu.to_numpy()
nunoa= data2.loc[data2['Comuna']=='Ñuñoa'].filter(['IM_externo'],axis=1)
nunoa= nunoa.to_numpy()
pedro_aguirre_cerda=data2.loc[data2['Comuna']=='Pedro Aguirre Cerda'].filter(['IM_externo'],axis=1)
pedro_aguirre_cerda= pedro_aguirre_cerda.to_numpy() 
penalolen= data2.loc[data2['Comuna']=='Peñalolén'].filter(['IM_externo'],axis=1)
penalolen= penalolen.to_numpy() 
providencia= data2.loc[data2['Comuna']=='Providencia'].filter(['IM_externo'],axis=1)
providencia= providencia.to_numpy()
pudahuel= data2.loc[data2['Comuna']=='Pudahuel'].filter(['IM_externo'],axis=1)
pudahuel= pudahuel.to_numpy()
quilicura= data2.loc[data2['Comuna']=='Quilicura'].filter(['IM_externo'],axis=1)
quilicura= quilicura.to_numpy()
quinta_normal= data2.loc[data2['Comuna']=='Quinta Normal'].filter(['IM_externo'],axis=1)
quinta_normal= quinta_normal.to_numpy()
recoleta= data2.loc[data2['Comuna']=='Recoleta'].filter(['IM_externo'],axis=1)
recoleta =recoleta.to_numpy()
renca= data2.loc[data2['Comuna']=='Renca'].filter(['IM_externo'],axis=1)
renca= renca.to_numpy()
san_miguel= data2.loc[data2['Comuna']=='San Miguel'].filter(['IM_externo'],axis=1)
san_miguel= san_miguel.to_numpy()
san_joaquin= data2.loc[data2['Comuna']=='San Joaquín'].filter(['IM_externo'],axis=1)
san_joaquin= san_joaquin.to_numpy()
san_ramon= data2.loc[data2['Comuna']=='San Ramón'].filter(['IM_externo'],axis=1)
san_ramon= san_ramon.to_numpy()
santiago= data2.loc[data2['Comuna']=='Santiago'].filter(['IM_externo'],axis=1)
santiago= santiago.to_numpy()
vitacura= data2.loc[data2['Comuna']=='Vitacura'].filter(['IM_externo'],axis=1)
vitacura= vitacura.to_numpy()

datos = [[] for i in range(32)]
print(len(vitacura),len(datos))

for j in range(len(vitacura)):
  datos[0].append(cerrillos[j][0])

for j in range(len(vitacura)):
  datos[1].append(cerro_navia[j][0])

for j in range(len(vitacura)):
  datos[2].append(conchali[j][0])

for j in range(len(vitacura)):
  datos[3].append(el_bosque[j][0])
for j in range(len(vitacura)):
  datos[4].append(estacion_central[j][0])

for j in range(len(vitacura)):
  datos[5].append(huechuraba[j][0])

for j in range(len(vitacura)):
  datos[6].append(independencia[j][0])

for j in range(len(vitacura)):
  datos[7].append(la_cisterna[j][0])

for j in range(len(vitacura)):
  datos[8].append(la_florida[j][0])

for j in range(len(vitacura)):
  datos[9].append(la_pintana[j][0])

for j in range(len(vitacura)):
  datos[10].append(la_granja[j][0])

for j in range(len(vitacura)):
  datos[11].append(la_reina[j][0])

for j in range(len(vitacura)):
  datos[12].append(las_condes[j][0])

for j in range(len(vitacura)):
  datos[13].append(lo_barnechea[j][0])

for j in range(len(vitacura)):
  datos[14].append(lo_espejo[j][0])

for j in range(len(vitacura)):
  datos[15].append(lo_prado[j][0])

for j in range(len(vitacura)):
  datos[16].append(macul[j][0])

for j in range(len(vitacura)):
  datos[17].append(maipu[j][0])

for j in range(len(vitacura)):
  datos[18].append(nunoa[j][0])

for j in range(len(vitacura)):
  datos[19].append(pedro_aguirre_cerda[j][0])

for j in range(len(vitacura)):
  datos[20].append(penalolen[j][0])

for j in range(len(vitacura)):
  datos[21].append(providencia[j][0])

for j in range(len(vitacura)):
  datos[22].append(pudahuel[j][0])

for j in range(len(vitacura)):
  datos[23].append(quilicura[j][0])

for j in range(len(vitacura)):
  datos[24].append(quinta_normal[j][0])

for j in range(len(vitacura)):
  datos[25].append(recoleta[j][0])

for j in range(len(vitacura)):
  datos[26].append(renca[j][0])

for j in range(len(vitacura)):
  datos[27].append(san_miguel[j][0])

for j in range(len(vitacura)):
  datos[28].append(san_joaquin[j][0])

for j in range(len(vitacura)):
  datos[29].append(san_ramon[j][0])

for j in range(len(vitacura)):
  datos[30].append(santiago[j][0])

for j in range(len(vitacura)):
  datos[31].append(vitacura[j][0])

df= pd.DataFrame(datos)
df
writer1= pd.ExcelWriter('datosmovex.xlsx',engine='xlsxwriter')
df.to_excel(writer1, sheet_name='datos')
writer1.save()

279 32

In [ ]:
data2 = pd.read_csv('https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto42/ViajesComunas_std.csv')
#data2 = data2.drop(columns=['Poblacion','Comuna','Codigo region','Region','Codigo comuna'])
data2

            Fecha     Origen           Destino  Viajes
0      2020-03-01  Cerrillos         Cerrillos    2026
1      2020-03-01  Cerrillos       Cerro Navia      31
2      2020-03-01  Cerrillos          Conchali      84
3      2020-03-01  Cerrillos         El Bosque      85
4      2020-03-01  Cerrillos  Estacion Central    1218
...           ...        ...               ...     ...
87460  2020-05-15   Vitacura       San Joaquin      35
87461  2020-05-15   Vitacura        San Miguel     117
87462  2020-05-15   Vitacura         San Ramon      32
87463  2020-05-15   Vitacura          Santiago    1129
87464  2020-05-15   Vitacura          Vitacura     553

[87465 rows x 4 columns]

In [ ]:
cerrillos= data2.loc[data2['Comuna']=='Cerrillos'].filter(['IM_externo'],axis=1)
cerrillos= cerrillos.to_numpy()
cerro_navia= data2.loc[data2['Comuna']=='Cerro Navia'].filter(['IM_externo'],axis=1)
cerro_navia= cerro_navia.to_numpy()
conchali= data2.loc[data2['Comuna']=='Conchalí'].filter(['IM_externo'],axis=1)
conchali= conchali.to_numpy()
el_bosque= data2.loc[data2['Comuna']=='El Bosque'].filter(['IM_externo'],axis=1)
el_bosque= el_bosque.to_numpy()
estacion_central= data2.loc[data2['Comuna']=='Estación Central'].filter(['IM_externo'],axis=1)
estacion_central= estacion_central.to_numpy()
huechuraba= data2.loc[data2['Comuna']=='Huechuraba'].filter(['IM_externo'],axis=1)
huechuraba= huechuraba.to_numpy()
independencia= data2.loc[data2['Comuna']=='Independencia'].filter(['IM_externo'],axis=1)
independencia= independencia.to_numpy()
la_cisterna= data2.loc[data2['Comuna']=='La Cisterna'].filter(['IM_externo'],axis=1)
la_cisterna= la_cisterna.to_numpy()
la_florida= data2.loc[data2['Comuna']=='La Florida'].filter(['IM_externo'],axis=1)
la_florida= la_florida.to_numpy()
la_pintana= data2.loc[data2['Comuna']=='La Pintana'].filter(['IM_externo'],axis=1)
la_pintana= la_pintana.to_numpy()
la_granja= data2.loc[data2['Comuna']=='La Granja'].filter(['IM_externo'],axis=1)
la_granja= la_granja.to_numpy()
la_reina= data2.loc[data2['Comuna']=='La Reina'].filter(['IM_externo'],axis=1)
la_reina= la_reina.to_numpy()
las_condes=data2.loc[data2['Comuna']=='Las Condes'].filter(['IM_externo'],axis=1)
las_condes= las_condes.to_numpy()
lo_barnechea= data2.loc[data2['Comuna']=='Lo Barnechea'].filter(['IM_externo'],axis=1)
lo_barnechea= lo_barnechea.to_numpy()
lo_espejo= data2.loc[data2['Comuna']=='Lo Espejo'].filter(['IM_externo'],axis=1)
lo_espejo= lo_espejo.to_numpy()
lo_prado= data2.loc[data2['Comuna']=='Lo Prado'].filter(['IM_externo'],axis=1)
lo_prado = lo_prado.to_numpy()
macul= data2.loc[data2['Comuna']=='Macul'].filter(['IM_externo'],axis=1)
macul= macul.to_numpy()
maipu= data2.loc[data2['Comuna']=='Maipú'].filter(['IM_externo'],axis=1)
maipu= maipu.to_numpy()
nunoa= data2.loc[data2['Comuna']=='Ñuñoa'].filter(['IM_externo'],axis=1)
nunoa= nunoa.to_numpy()
pedro_aguirre_cerda=data2.loc[data2['Comuna']=='Pedro Aguirre Cerda'].filter(['IM_externo'],axis=1)
pedro_aguirre_cerda= pedro_aguirre_cerda.to_numpy() 
penalolen= data2.loc[data2['Comuna']=='Peñalolén'].filter(['IM_externo'],axis=1)
penalolen= penalolen.to_numpy() 
providencia= data2.loc[data2['Comuna']=='Providencia'].filter(['IM_externo'],axis=1)
providencia= providencia.to_numpy()
pudahuel= data2.loc[data2['Comuna']=='Pudahuel'].filter(['IM_externo'],axis=1)
pudahuel= pudahuel.to_numpy()
quilicura= data2.loc[data2['Comuna']=='Quilicura'].filter(['IM_externo'],axis=1)
quilicura= quilicura.to_numpy()
quinta_normal= data2.loc[data2['Comuna']=='Quinta Normal'].filter(['IM_externo'],axis=1)
quinta_normal= quinta_normal.to_numpy()
recoleta= data2.loc[data2['Comuna']=='Recoleta'].filter(['IM_externo'],axis=1)
recoleta =recoleta.to_numpy()
renca= data2.loc[data2['Comuna']=='Renca'].filter(['IM_externo'],axis=1)
renca= renca.to_numpy()
san_miguel= data2.loc[data2['Comuna']=='San Miguel'].filter(['IM_externo'],axis=1)
san_miguel= san_miguel.to_numpy()
san_joaquin= data2.loc[data2['Comuna']=='San Joaquín'].filter(['IM_externo'],axis=1)
san_joaquin= san_joaquin.to_numpy()
san_ramon= data2.loc[data2['Comuna']=='San Ramón'].filter(['IM_externo'],axis=1)
san_ramon= san_ramon.to_numpy()
santiago= data2.loc[data2['Comuna']=='Santiago'].filter(['IM_externo'],axis=1)
santiago= santiago.to_numpy()
vitacura= data2.loc[data2['Comuna']=='Vitacura'].filter(['IM_externo'],axis=1)
vitacura= vitacura.to_numpy()

datos = [[] for i in range(32)]
print(len(vitacura),len(datos))

for j in range(len(vitacura)):
  datos[0].append(cerrillos[j][0])

for j in range(len(vitacura)):
  datos[1].append(cerro_navia[j][0])

for j in range(len(vitacura)):
  datos[2].append(conchali[j][0])

for j in range(len(vitacura)):
  datos[3].append(el_bosque[j][0])
for j in range(len(vitacura)):
  datos[4].append(estacion_central[j][0])

for j in range(len(vitacura)):
  datos[5].append(huechuraba[j][0])

for j in range(len(vitacura)):
  datos[6].append(independencia[j][0])

for j in range(len(vitacura)):
  datos[7].append(la_cisterna[j][0])

for j in range(len(vitacura)):
  datos[8].append(la_florida[j][0])

for j in range(len(vitacura)):
  datos[9].append(la_pintana[j][0])

for j in range(len(vitacura)):
  datos[10].append(la_granja[j][0])

for j in range(len(vitacura)):
  datos[11].append(la_reina[j][0])

for j in range(len(vitacura)):
  datos[12].append(las_condes[j][0])

for j in range(len(vitacura)):
  datos[13].append(lo_barnechea[j][0])

for j in range(len(vitacura)):
  datos[14].append(lo_espejo[j][0])

for j in range(len(vitacura)):
  datos[15].append(lo_prado[j][0])

for j in range(len(vitacura)):
  datos[16].append(macul[j][0])

for j in range(len(vitacura)):
  datos[17].append(maipu[j][0])

for j in range(len(vitacura)):
  datos[18].append(nunoa[j][0])

for j in range(len(vitacura)):
  datos[19].append(pedro_aguirre_cerda[j][0])

for j in range(len(vitacura)):
  datos[20].append(penalolen[j][0])

for j in range(len(vitacura)):
  datos[21].append(providencia[j][0])

for j in range(len(vitacura)):
  datos[22].append(pudahuel[j][0])

for j in range(len(vitacura)):
  datos[23].append(quilicura[j][0])

for j in range(len(vitacura)):
  datos[24].append(quinta_normal[j][0])

for j in range(len(vitacura)):
  datos[25].append(recoleta[j][0])

for j in range(len(vitacura)):
  datos[26].append(renca[j][0])

for j in range(len(vitacura)):
  datos[27].append(san_miguel[j][0])

for j in range(len(vitacura)):
  datos[28].append(san_joaquin[j][0])

for j in range(len(vitacura)):
  datos[29].append(san_ramon[j][0])

for j in range(len(vitacura)):
  datos[30].append(santiago[j][0])

for j in range(len(vitacura)):
  datos[31].append(vitacura[j][0])

df= pd.DataFrame(datos)
df
writer1= pd.ExcelWriter('datosmovex.xlsx',engine='xlsxwriter')
df.to_excel(writer1, sheet_name='datos')
writer1.save()